{{define "header"}}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>socialGO — Главная</title>
    <link rel="stylesheet" href="/templates/static/css/main.css">
</head>
<body>

    <nav class="navbar">
        <div class="container">
            <a href="/" class="logo">social<span>GO</span></a>
            <ul class="nav-links">
                <li><a href="/" class="active">Главная</a></li>
                <li><a href="/profile">Профиль</a></li>
                <li><a href="/login" class="btn-login">Войти</a></li>
            </ul>
        </div>
    </nav>
    {{end}}